<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alignment</key>
	<dict/>
	<key>Linked</key>
	<array>
		<string>BuildManifest.plist</string>
		<string>Restore.plist</string>
		<string>Firmware/device_map.txt</string>
		<string>Firmware/device_map.plist</string>
		<string>Firmware/SE</string>
		<string>/manifest</string>
	</array>
	<key>Manifest</key>
	<dict>
		<key>ftab.bin</key>
		<dict>
			<key>Digest</key>
			<data>
			AjrUXY2Vr0fSVqQwsZu0vhQ8I24dvP0ufaOqfuFeU2cU3otW/N4m
			BZw7UF1Fiwv3
			</data>
			<key>Info</key>
			<dict>
				<key>IsFTAB</key>
				<true/>
				<key>IsFirmwarePayload</key>
				<true/>
				<key>IsLoadedByiBoot</key>
				<false/>
				<key>Path</key>
				<string>ftab.bin</string>
				<key>Personalize</key>
				<true/>
				<key>PersonalizedPath</key>
				<string>RTKitOS_ftab.img4</string>
				<key>RestoreRequestRules</key>
				<array>
					<dict>
						<key>Actions</key>
						<dict>
							<key>EPRO</key>
							<false/>
						</dict>
						<key>Conditions</key>
						<dict>
							<key>ApRawProductionMode</key>
							<false/>
							<key>ApRequiresImage4</key>
							<true/>
						</dict>
					</dict>
					<dict>
						<key>Actions</key>
						<dict>
							<key>EPRO</key>
							<true/>
						</dict>
						<key>Conditions</key>
						<dict>
							<key>ApRawProductionMode</key>
							<true/>
							<key>ApRequiresImage4</key>
							<true/>
						</dict>
					</dict>
					<dict>
						<key>Actions</key>
						<dict>
							<key>EPRO</key>
							<false/>
						</dict>
						<key>Conditions</key>
						<dict>
							<key>ApDemotionPolicyOverride</key>
							<string>Demote</string>
							<key>ApRawProductionMode</key>
							<true/>
							<key>ApRequiresImage4</key>
							<true/>
						</dict>
					</dict>
					<dict>
						<key>Actions</key>
						<dict>
							<key>ESEC</key>
							<false/>
						</dict>
						<key>Conditions</key>
						<dict>
							<key>ApRawSecurityMode</key>
							<false/>
							<key>ApRequiresImage4</key>
							<true/>
						</dict>
					</dict>
					<dict>
						<key>Actions</key>
						<dict>
							<key>ESEC</key>
							<true/>
						</dict>
						<key>Conditions</key>
						<dict>
							<key>ApRawSecurityMode</key>
							<true/>
							<key>ApRequiresImage4</key>
							<true/>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Trusted</key>
			<true/>
		</dict>
	</dict>
	<key>Personalized</key>
	<array>
		<string>amai/apimg4ticket.der</string>
	</array>
</dict>
</plist>
