<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>RTKitOSPlatform</string>
	<key>BuildVersion</key>
	<string>18</string>
	<key>CFBundleVersion</key>
	<string>23.620086002000000.18</string>
	<key>ProjectName</key>
	<string>RTKitOSPlatform</string>
	<key>SourceVersion</key>
	<string>620086002000000</string>
</dict>
</plist>
